{% extends 'admin/base_site.html' %}

{% block content %}
<div>
  <h1>THỐNG KÊ ĐIỂM KHÓA LUẬN QUA TỪNG NĂM HỌC</h1>
  <div>
    <table class="table">
    <tr>
      <th>Năm học</th>
      <th>Điểm trung bình</th>
    </tr>

    {% for t in average_score_by_school_year %}
    <tr>
      <td>{{ t.school_year__start_year.year }} - {{ t.school_year__end_year.year }}</td>
      <td>{{ t.avg_score }}</td>
    </tr>
    {% endfor %}
  </table>
  </div>

  <div style="width: 600px; height: 400px;">
    <canvas id="myChart"></canvas>
  </div>
</div>

<div>
  <h1>TẦN XUẤT THAM GIA LÀM KHÓA LUẬN CỦA TỪNG NGHÀNH</h1>
  <div>
    <table class="table">
    <tr>
      <th>Nghành học</th>
      <th>Số khóa luận</th>
    </tr>

    {% for c in major_thesis_count %}
    <tr>
      <td>{{ c.name }}</td>
      <td>{{ c.thesis_count }}</td>
    </tr>
    {% endfor %}
    </table>
  </div>
  <div style="width: 600px; height: 400px;">
    <canvas id="myChart02"></canvas>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  let r, g, b
  let labels = [], counter = [], colors = [], labels02 = [], counter02 = [], colors02 = []
  {% for t in average_score_by_school_year %}
    labels.push('{{ t.school_year__start_year.year }} - {{ t.school_year__end_year.year }}')
    counter.push({{ t.avg_score }})

    r = parseInt(Math.random()*255)
    g = parseInt(Math.random()*255)
    b = parseInt(Math.random()*255)
    colors.push(`rgba(${r}, ${g}, ${b}, 0.2)`)
    {% endfor %}

  {% for c in major_thesis_count %}
    labels02.push('{{ c.name }}')
    counter02.push({{ c.thesis_count }})

    r = parseInt(Math.random()*255)
    g = parseInt(Math.random()*255)
    b = parseInt(Math.random()*255)
    colors02.push(`rgba(${r}, ${g}, ${b}, 0.2)`)
    {% endfor %}

    window.onload = function() {
      const ctx = document.getElementById('myChart');
      const ctx02 = document.getElementById('myChart02')

      new Chart(ctx, {
        type: 'line',
        data: {
          labels: labels,
          datasets: [{
            label: 'Điểm trung bình',
            data: counter,
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });


      new Chart(ctx02, {
        type: 'doughnut',
        data: {
          labels: labels02,
          datasets: [{
            label: 'Số khóa luận',
            data: counter02,
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    }
</script>

<!--<script>-->
<!--  let r, g, b-->
<!--  let labels = [], counter = [], colors = []-->
<!--  {% for c in major_thesis_count %}-->
<!--    labels.push('{{ c.name }}')-->
<!--    counter.push({{ c.thesis_count }})-->

<!--    r = parseInt(Math.random()*255)-->
<!--    g = parseInt(Math.random()*255)-->
<!--    b = parseInt(Math.random()*255)-->
<!--    colors.push(`rgba(${r}, ${g}, ${b}, 0.2)`)-->
<!--    {% endfor %}-->

<!--    window.onload = function() {-->
<!--      const ctx02 = document.getElementById('myChart02');-->

<!--      new Chart(ctx02, {-->
<!--        type: 'line',-->
<!--        data: {-->
<!--          labels: labels,-->
<!--          datasets: [{-->
<!--            label: 'Số khóa luận',-->
<!--            data: counter,-->
<!--            borderWidth: 1-->
<!--          }]-->
<!--        },-->
<!--        options: {-->
<!--          scales: {-->
<!--            y: {-->
<!--              beginAtZero: true-->
<!--            }-->
<!--          }-->
<!--        }-->
<!--      });-->
<!--    }-->
<!--</script>-->
{% endblock %}